<div class="expenses-wrapper">

    <!-- SIDEBAR -->
    <app-sidebar #sidebar></app-sidebar>

    <!-- CONTENT -->
    <div class="expenses-content">

        <!-- HEADER -->
        <div class="expenses-header">

            <div class="header-left-wrap">

                <button
                    class="mobile-menu-btn"
                    (click)="sidebar.toggleSidebar()">

                    <i class="fa-solid fa-bars"></i>

                </button>

                <div class="header-left">

                    <h2>Welcome Back</h2>

                    <span>{{ user?.name }}</span>

                </div>

            </div>

            <div class="header-right">

                <button class="header-btn">
                    <i class="fa-solid fa-bell"></i>
                </button>

                <button
                    class="header-btn"
                    (click)="toggleTheme()">

                    <i
                        class="fa-solid"
                        [ngClass]="isDarkMode ? 'fa-sun' : 'fa-moon'">
                    </i>

                </button>

            </div>

        </div>

        <!-- BODY -->
        <div class="expenses-body">

            <app-expense-modal
                *ngIf="showModal"
                (close)="closeModal()"
                (saved)="onExpenseCreated()">
            </app-expense-modal>

            <!-- TITLE -->
            <div class="page-title">

                <h1>Expenses</h1>

                <span>
                    Track and manage your spending
                </span>

            </div>

            <!-- STATS -->
            <div class="expense-stats">

                <div class="stat-card total">

                    <span>TOTAL EXPENSE</span>

                    <h2>
                        ₹{{ getTotalExpense() | number }}
                    </h2>

                </div>

                <div class="stat-card month">

                    <span>THIS MONTH</span>

                    <h2>
                        ₹{{ getMonthlyExpense() | number }}
                    </h2>

                </div>

                <div class="stat-card avg">

                    <span>AVERAGE</span>

                    <h2>
                        ₹{{ getAverageExpense() | number:'1.0-0' }}
                    </h2>

                </div>

            </div>

            <!-- ACTION BAR -->
            <div class="expense-actions">

                <div>

                    <h3>Expense Records</h3>

                    <span>
                        Manage all your expenses
                    </span>

                </div>

                <button
                    class="add-expense-btn"
                    (click)="openModal()">

                    <i class="fa-solid fa-plus"></i>
                    Add Expense

                </button>

            </div>

            <!-- EXPENSE LIST -->
            <div class="expense-list">

                <div
                    class="expense-card"
                    *ngFor="let e of expenses">

                    <div class="expense-info">

                        <div class="expense-icon">
                            <i class="fa-solid fa-wallet"></i>
                        </div>

                        <div>

                            <h3>{{ e.title }}</h3>

                            <span>
                                {{ e.category }}
                            </span>

                        </div>

                    </div>

                    <div class="expense-right">

                        <div class="expense-amount">

                            <small>Expense</small>

                            <h2>
                                -₹{{ e.amount | number }}
                            </h2>

                        </div>

                        <button
                            class="delete-btn"
                            (click)="deleteExpense(e.id)">

                            <i class="fa-regular fa-trash-can"></i>

                        </button>

                    </div>

                </div>

                <div
                    class="empty-state"
                    *ngIf="expenses.length === 0">

                    <i class="fa-solid fa-wallet"></i>

                    <h3>No Expenses Found</h3>

                    <p>
                        Add your first expense to start tracking.
                    </p>

                </div>

            </div>

        </div>

    </div>

</div>