<div class="settings-wrapper">

    <!-- SIDEBAR -->
    <app-sidebar #sidebar></app-sidebar>

    <!-- MAIN CONTENT -->
    <div class="settings-content">

        <!-- FIXED HEADER -->
        <div class="settings-header">

            <!-- LEFT -->
            <div class="header-left-wrap">

                <!-- MOBILE MENU -->
                <button class="mobile-menu-btn" (click)="sidebar.toggleSidebar()">
                    <i class="fa-solid fa-bars"></i>
                </button>

                <div class="header-left">

                    <h2>
                        Welcome Back
                    </h2>

                    <span>
                        {{user?.name}}
                    </span>

                </div>

            </div>

            <!-- RIGHT -->
            <div class="header-right">

                <button class="header-btn">
                    <i class="fa-solid fa-bell"></i>
                </button>

                <button class="header-btn" (click)="toggleTheme()">
                    <i class="fa-solid" [ngClass]="isDarkMode ? 'fa-sun' : 'fa-moon'"></i>
                </button>

            </div>
        </div>


        <div class="checkout-wrapper">

            <h2>Choose Your Plan</h2>

            <div class="plan-grid">

                <div class="plan-card" *ngFor="let p of plans" [class.active]="selectedPlan === p.key"
                    (click)="selectPlan(p.key)">

                    <h3>{{ p.title }}</h3>

                    <h2>₹{{ p.price }}</h2>

                    <p>{{ p.desc }}</p>

                    <ul>
                        <li *ngFor="let f of p.features">
                            ✔ {{ f }}
                        </li>
                    </ul>

                    <button>
                        {{ selectedPlan === p.key ? 'Selected' : 'Select' }}
                    </button>

                </div>

            </div>

            <button class="pay-btn" (click)="payNow()">
                Pay Now
            </button>

        </div>

    </div>

</div>