*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #020817;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* MAIN */

.analytics-wrapper{
    display: flex;
    min-height: 100vh;
    background: #020817;
    color: white;
}

/* CONTENT */

.analytics-content{
    margin-left: 280px;
    width: calc(100% - 280px);
    min-height: 100vh;
    position: relative;
}

/* FIXED HEADER */

.analytics-header{
    position: fixed;
    top: 0;
    right: 0;
    left: 280px;

    height: 80px;

    background: #020817;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 22px;

    z-index: 1000;

    border-bottom: 1px solid rgba(255,255,255,0.05);
}

/* BODY */

.analytics-body{
    padding: 102px 22px 22px;
}

/* HEADER LEFT */

.header-left-wrap{
    display: flex;
    align-items: center;
    gap: 14px;
}

.header-left h2{
    font-size: 28px;
    margin-bottom: 4px;
}

.header-left span{
    color: #94a3b8;
    font-size: 14px;
}

/* HEADER RIGHT */

.header-right{
    display: flex;
    align-items: center;
    gap: 14px;
}

.header-btn{
    width: 45px;
    height: 45px;
    border-radius: 14px;
    border: none;
    background: #0f172a;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.header-btn:hover{
    transform: translateY(-2px);
}

/* MOBILE MENU BUTTON */

.mobile-menu-btn{
    display: none;

    width: 48px;
    height: 48px;

    border: none;
    border-radius: 14px;

    background: #111c31;
    color: white;

    cursor: pointer;

    font-size: 18px;
    z-index: 2000;
}

/* LIGHT THEME */

.light-theme .header-btn{
    background: white;
    color: #0f172a;
}

@media(max-width:768px){

    .analytics-content{
        margin-left: 0;
        width: 100%;
    }

    .analytics-header{
        left: 0;
        height: 76px;
        padding: 0 16px;
    }

    .analytics-body{
        padding: 95px 16px 16px;
    }

    .mobile-menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .top-cards{
        grid-template-columns: 1fr;
    }

    .header-left h2{
        font-size: 22px;
    }

    .header-left span{
        font-size: 13px;
    }

}